{%extends "base.html" %}
{% block title %}Wilkommen Oma und Opa{% endblock %}
{% block content %}
    <div align="center" class="container">
        <div class="card">
            <div class="card-header">
                <h2>
                    Geburtstags Wunschliste
                </h2>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ol align="left">

                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="https://nnfs.io/" class="nounderlinebutton card-text">
                                        <b>Neural Networks from Scratch</b>. Dies isst ein sehr gutes buch mit dem man viel lernen kan über wie neural netzwerke funktionieren.
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auf der Wunschliste von Anne und Papa
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="https://www.algoexpert.io/machine-learning/product" class="nounderlinebutton card-text">
                                        <b>Ml Expert</b> bringt einem bei wie man machine learning systeme baut.
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auch auf der Wunschliste von Anne und Papa
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="https://www.amazon.nl/Edexcel-level-Mathematics-Pure-Year/dp/129218339X/ref=sr_1_1?__mk_nl_NL=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=a-level+mathematics+edexcel+year+1&qid=1629901421&sr=8-1" class="nounderlinebutton card-text">
                                        <b>Edexcel A-level Maths Year 1</b> ist voll mit Fragen und Lösungen von dem ersten Jahr des A-level mathematik kurses. Viele interessante Konzepte werden hier eingeführt.
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auf den wunschlisten von Anne, Papa, Hueseying Dayi und Tante Silvia, Tante Malaika und Onkel Pascal 
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="https://www.amazon.nl/Edexcel-Level-Mathematics-Textbook-book/dp/1292183403/ref=sr_1_2?__mk_nl_NL=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=a-level+mathematics+edexcel+year+1&qid=1629901688&sr=8-2" class="nounderlinebutton card-text">
                                        <b>Edexcel A-level Maths Year 2</b> ist voll mit Fragen und Lösungen von dem zweiten Jahr des A-level mathematik kurses. Viele interessante Konzepte werden hier erweitert. (Dieses Buch ist das Zweite von einer reihe von zwei Büchern)
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auf den wunschlisten von Anne, Papa, Hueseying Dayi und Tante Silvia, Tante Malaika und Onkel Pascal 
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}