{%extends "base.html" %}
{% block title %}Wilkommen Anne und Papa{% endblock %}
{% block content %}
    <div align="center" class="container">
        <div class="card">
            <div class="card-header">
                <h2>
                    Geburtstags Wunschliste
                </h2>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ol align="left">
                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="https://www.abnamro.nl/nl/prive/index.html" class="nounderlinebutton card-text">
                                        <b>Geld</b> 200-300 euro, mindestens genug damit ich euch zürück bezahlen kann. <i><b><b style="color:red;">WICHTIGSTES GESCHENK</b></b></i>
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auf keiner anderen Wunschliste
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="https://www.amazon.nl/Cracking-Coding-Interview-Programming-Questions/dp/0984782850/ref=sr_1_1?__mk_nl_NL=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=cracking+the+coding+interview&qid=1629968281&sr=8-1" class="nounderlinebutton card-text">
                                        <b>Cracking the Coding interview</b> ist ein gutes buch.
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auch auf der Wunschliste von AnneAnne und Dede
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="https://nnfs.io/" class="nounderlinebutton card-text">
                                        <b>Neural Networks from Scratch</b> aber bitte nicht das e-book. Dies isst ein sehr gutes buch mit dem man viel lernen kan über wie neural netzwerke funktionieren.
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auf der Wunschliste von Oma und Opa
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="https://www.amazon.nl/Linear-Algebra-Right-Sheldon-Axler/dp/3319110799/ref=tmm_hrd_swatch_0?_encoding=UTF8&qid=1629899543&sr=8-1" class="nounderlinebutton card-text">
                                        <b>Linear Algebra Done right</b> ist ein unheimlich gutes Buch. Viele Mathematiker sagen das es das beste buch is um Lineare Algebra zu Lernen. Ich brauche es für zwei Gründe:
                                        <ol>
                                            <li>
                                                Ich bin interessiert in Mathe und es macht spaß.
                                            </li>
                                            <li>
                                                Lineare Algebra ist unheimlich wichtig um Neurale Netzwerke zu verstehen.
                                            </li>
                                        </ol>
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auch auf der Wunschliste von Hueseyin Day, Tante Silvia, Onkel Pascal und Tante Malaika
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="https://www.amazon.nl/Edexcel-level-Mathematics-Pure-Year/dp/129218339X/ref=sr_1_1?__mk_nl_NL=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=a-level+mathematics+edexcel+year+1&qid=1629901421&sr=8-1" class="nounderlinebutton card-text">
                                        <b>Edexcel A-level Maths Year 1</b> ist voll mit Fragen und Lösungen von dem ersten Jahr des A-level mathematik kurses. Viele interessante Konzepte werden hier eingeführt.
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auch auf der Wunschliste von Hueseyin Day, Tante Silvia, Onkel Pascal und Tante Malaika, Oma und Opa
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="https://www.amazon.nl/Edexcel-Level-Mathematics-Textbook-book/dp/1292183403/ref=sr_1_2?__mk_nl_NL=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=a-level+mathematics+edexcel+year+1&qid=1629901688&sr=8-2" class="nounderlinebutton card-text">
                                        <b>Edexcel A-level Maths Year 2</b> ist voll mit Fragen und Lösungen von dem zweiten Jahr des A-level mathematik kurses. Viele interessante Konzepte werden hier erweitert. (Dieses Buch ist das Zweite von einer reihe von zwei Büchern)
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auch auf der Wunschliste von Hueseyin Day, Tante Silvia, Onkel Pascal und Tante Malaika, Oma und Opa
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="https://www.algoexpert.io/machine-learning/product" class="nounderlinebutton card-text">
                                        <b>Ml Expert</b> bringt einem bei wie man grosse machine learning systeme baut
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auch auf der Wunschliste von Oma und Opa
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="https://www.amazon.nl/Bowles-Edexcel-Further-Maths-Level/dp/0198415230/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1629968000&sr=8-10" class="nounderlinebutton card-text">
                                        <b>Edexcel A-level Further Maths Year 1</b> ist voll mit Fragen und Lösungen von dem ersten Jahr des A-level erweiterten mathematik kurses. Viele interessante Konzepte werden hier eingeführt.
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auf den wunschlisten von Hueseyin Dayi, Tante Silvia, Tante Malaika und Onkel Pascal 
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="https://www.amazon.nl/Bowles-Edexcel-Further-Maths-Student/dp/0198415249/ref=pd_sim_1/261-5501228-6294848?pd_rd_w=TbNH4&pf_rd_p=a9f63490-6100-400f-b3b4-2a94fcb27bdb&pf_rd_r=350JJX7VS2XX4V98VMDE&pd_rd_r=7f9a3eba-7a1d-4eae-97ae-2ccf9cea6a90&pd_rd_wg=Sm2Ri&pd_rd_i=0198415249&psc=1" class="nounderlinebutton card-text">
                                        <b>Edexcel A-level Futher Maths Year 2</b> ist voll mit Fragen und Lösungen von dem zweiten Jahr des erweiterten A-level mathematik kurses. Viele interessante Konzepte werden hier erweitert. (Dieses Buch ist das Zweite von einer reihe von zwei Büchern)
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auf den wunschlisten von Hueseyin Dayi, Tante Silvia, Tante Malaika und Onkel Pascal 
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card listitem">
                                <div class="card-body">
                                    <a href="" class="nounderlinebutton card-text">
                                        <b>Flask</b> ist was benutzt wurde um diese Website zu bauen
                                    </a>
                                </div>
                                <div class="card-footer">
                                    Auch auf der Wunschliste von AnneAnne und Dede
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}