{%extends "base.html" %}
{% block title %}Info{% endblock %}
{% block content %}
<div class="card">
    <div align="center" class="card-body">
        <div class="card-body">
            <div class="card-text">
                <div class="card" id="wasistwebsite">
                    <div class="card-header">
                        <h2>
                            Was ist diese Website?
                        </h2>
                    </div>
                    <p class="card-body card-text">
                        Diese website ist <i>zwei</i> dinge. Ein Hobby Projekt mitdem ich lernen wollte bessere Websites zu bauen.<br>
                        Diese website ist aber auch eine Geburtstags Wunschliste. Wenn sie hier sind und familie von mir(<b>Malik</b>) sind<br>
                        dann können sie ihre Whatsapp Nachrichten checken, wo ich ihnen ihr Benutzername und Passwort geschickt habe.<br>
                        Es ist wichtig das genau dieses Passwort und genau dieser Benutzername eingeführt werden. <i>Sonst Klappt es nicht.</i><br>
                    </p>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2>
                            Wie funktioniert diese Website?
                        </h2>
                    </div>
                    <p class="card-body card-text">
                        Für jeden Wunsch in meiner Wunschliste habe ich eine kleine Karte. Unten steht drauf auf welchen Wunschlisten<br>
                        dies noch ist. Diese information kan man benutzen um aufzupassen das nicht Jeder das selbe Geschenk HOllt. <br>
                        In der Mitte Steht drauf was das Geschenk ist. Es ist auch oft ein link zu dem produkt. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p class="card-footer" align="center">
        Man muss nicht sachen hollen die auf der liste sind.<br>
        (<-:)
    </p>
</div>
{% endblock%}