{%extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">
        Login
    </h3>
    <div class = "form-group">
        <label for = "username">Benutzername</label>
        <input type = "text" id = "username" name = "username" class = "form-control" placeholder="Bitte den Benutzernamen reintippen"/>
        <label for = "password">Passwort</label>
        <input type = "password" id = "password" name = "password" class = "form-control" placeholder="Passwort"/>
        </br>
        <div align="center">
            <button class="btn btn-primary" type="submit">Login</button>            
        </div>

    </div>
</form>

{% endblock %}